@media (max-width: 400px) {
  .navbar {
    min-height: 70px !important;
    display: flex;
    align-items: center;
  }
  .cafeyn-logo {
    width: 190px;
  }
  .v-btn--rounded.menu {
    padding: 0 10px !important;
  }
  .gift-btn {
    height: 36px !important;
    width: 36px !important;
  }
}

@media (max-width: 600px) {
  .v-btn.v-size--default.lk-login {
    height: 38px;
    min-width: 44px;
    padding: 0 6px;
  }
}

.separator {
  height: 40px;
}

.search-field {
  color: $grey-cafeyn;
  border: 1px solid $border-color;
}

div.v-toolbar__content {
  border-bottom: 1px solid $border-color !important;
}

.header-btn {
  font-family: 'Soleil-Bold';
  font-size: 10px !important;
}

button.login-btn {
  color: $blue-cafeyn !important;
  background-color: $yellow-cafeyn !important;
}
