.subcategories-container {
  height: 167px;
  border-bottom: 1px solid $border-color;
}

.tabs {
  display: flex;
  justify-content: flex-end;
}

.subcategory {
  font-family: 'Soleil-bold', Helvetica, Arial;
  font-size: 12px;
  color: #8b8b8b;
}

.v-tab--active.subcategory-active {
  color: $blue-cafeyn;
}

.category-title {
  font-family: 'Soleil-Light', Helvetica, Arial;
  font-size: 28px;
  color: $darkblue-cafeyn;
}

.category-subtitle {
  font-family: 'Soleil', Helvetica, Arial;
  font-size: 16px;
  color: $blue-cafeyn;
}

@media (max-width: 960px) {
  .tabs {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 600px) {
  .mr-16 {
    margin-right: 80px !important;
  }
}
